<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.employee.manager.mapper.EmployeeMapper">
    <!--分页查询员工信息-->
    <select id="getEmployeeByPage" resultType="cn.employee.manager.dto.EmployeeDTO">
        SELECT
          e.`id`,
          e.`password`,
          e.`name`,
          e.`authority`,
          e.`sex`,
          e.`birthday`,
          d.`name` AS department,  #部门
          j.`description` AS job,  # 工作名称
          ed.`description` AS eduLevel,  #学历
          e.`spcialty`,
          e.`address`,
          e.`tel`,
          e.`email`,
          e.`state`,
          e.`remark`
        FROM
          employee e,
          department d,
          edu_level ed,
          job j
        WHERE e.`department` = d.`id`
          AND e.`job` = j.`code`
          AND e.`edu_level` = ed.`code`
          <if test="name != null">
              and e.name like concat('%', #{name}, '%')
          </if>
    </select>
    <!-- 查询一个员工信息 -->
    <select id="getUserById" resultType="cn.employee.manager.dto.EmployeeDTO" parameterType="integer">
        SELECT
          e.`id`,
          e.`password`,
          e.`name`,
          e.`authority`,
          e.`sex`,
          e.`birthday`,
          d.`name` AS department,  #部门
          j.`description` AS job,  # 工作名称
          ed.`description` AS eduLevel,  #学历
          e.`spcialty`,
          e.`address`,
          e.`tel`,
          e.`email`,
          e.`state`,
          e.`remark`
        FROM
          employee e,
          department d,
          edu_level ed,
          job j
        WHERE e.`department` = d.`id`
          AND e.`job` = j.`code`
          AND e.`edu_level` = ed.`code`
          AND e.id = ${id}
    </select>

    <!-- 查询每个工作的员工人事 -->
    <select id="getJobPersonsNumbers" resultType="cn.employee.manager.dto.JobPersonNumbers">
        SELECT
          j.description AS job,
          e.number
        FROM
          (SELECT
            job AS CODE,
            COUNT(*) AS number
          FROM
            employee
          GROUP BY job) AS e
          INNER JOIN job j
            ON e.code = j.`code`
    </select>
</mapper>